<section id="about-head" class="section-p1">
            <img src="images/img/about/a6.jpg" alt="">
            <div>
                <h2>Who We Are?</h2>
                <p>Ecstatic advanced and procured civility not absolute put continue. Overcame breeding or my concerns removing desirous so absolute. My melancholy unpleasing imprudence considered in advantages so impression. Almost unable put piqued talked likely houses her met. Met any nor may through resolve entered. An mr cause tried oh do shade happy.</p>
    

                    <abbr id="aboutWeird" title="">Create stunning images with as much or as little control as you like thanks to a choice of Basic and Creative modes.</abbr>

                    <br><br>

                    <marquee  loop="-1" scrollamount="10" width="100%">Create stunning images with as much or as little control as you like thanks to a choice of Basic and Creative modes.</marquee>
            </div>
        </section>