<link rel='stylesheet' href='/stylesheets/orderForm.css'/>

<div id="userSet-message"></div>

<div class="orderBox" style="margin-bottom: 60px; margin-top: 30px">

    <form class="userSetForm" method="post" action="/account/update-info">
        <h3>account information</h3>
        <input name="username" type="text" placeholder="username" required>
        <input name="email" type="email" placeholder="email" required>
        <input name="password" type="password" placeholder="password" required>
        <button type="submit">Save</button>
    </form>
</div>



<script src="/javascripts/userSet.js"></script>

