<section id="contact-details" class="section-p1">
            <div class="details">
                <span>GET IN TOUCH</span>
                <h2>Visit one of our agency locations or contact us today</h2>
                <h3>Head Office</h3>
                <div>
                    <li>
                        <i class="fal fa-map"></i>
                        <p>BP 575 Bd Abdelkrim Al Khattabi, Guéliz، 40000</p>
                    </li>
                    <li>
                        <i class="fal fa-envelope"></i>
                        <p>az.ecom.app@gmail.com</p>
                    </li>
                    <li>
                        <i class="fal fa-phone-alt"></i>
                        <p>+212 712947992 | +212 663771980</p>
                    </li>
                    <li>
                        <i class="fal fa-clock"></i>
                        <p>8:00 - 18:00, Mon - Sat</p>
                    </li>
                </div>
            </div>

             <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13586.16456289647!2d-8.029320812436248!3d31.64641170271017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xdafef65ca3de9bb%3A0x3ea5cfd960dd861d!2sENSA%20MARRAKECH!5e0!3m2!1sfr!2sma!4v1677443133367!5m2!1sfr!2sma" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
            </div>
        </section>