

<section id="issues-section">
        <h2>Troubleshooting History</h2>

        <table id="issues">
            <tr>
                <th>Employee ID</th>
                <th>email</th>
                <th>issue</th>
                <th>response     </th>
                
            </tr>
            {{#each issues }}
            <tr>
                <td>{{this.full_name}}</td>
                <td>{{this.email}}</td>
                <td >
                    {{this.issue}}
                </td>
                <td>{{this.response}}</td>
                

            </tr>
            {{/each}}
        </table>
    </div>
</section>

