<section id="about-app" class="section-p1">
            <h1>Download Our <a id="linkApp" href="#">App</a></h1>
            <div class="video">
                <video autoplay muted loop src="images/img/about/1.mp4"></video>
            </div>
        </section>