<footer class="section-p2">
            <section id="footer-elements">
            <div class="col">
                <img class="logo" src="/images/img/logo.png" alt="">
                <h4>Contact</h4>
                <p><strong>Address: </strong>BP 575 Bd Abdelkrim Al Khattabi, Guéliz، 40000</p>
                <p><strong>Phone: </strong>+212 712947992 | +212 663771980</p>
                <p><strong>Hours: </strong>8:00 - 18:00, Mon - Sat</p>
                <div class="follow">
                    <h4>Follow us</h4>
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-twitter"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-pinterest-p"></i>
                        <i class="fab fa-youtube"></i>
                    </div>
                </div>
            </div>

            <div class="col">
                <h4>About</h4>
                <a href="/about">About Us</a>
                <a href="">Delivery information</a>
                <a href="">Privacy Policy</a>
                <a href="">Terms and Conditions</a>
                <a href="/contact">Contact us</a>
            </div>
            </section>

            <div class="copyright">
                <p>© 2023, Ensa project Ouassim-Ilyas Rssp</p>
            </div>
        </footer>