<link rel='stylesheet' href='/stylesheets/styleCrm.css'/>

<section id="header">
            <a href="/crm/login"><img src="/images/img/CRM.png" class="logo" alt=""></a>
            
            <ul id="navbar" >
                  <li><a  href="/crm/login">Dashboard</a></li>     
                <li><a  href="/crm/history">Your Leads History</a></li>
                <li><a class="active" href="/crm/issues" >Troubleshooting</a></li>
                
            </ul>
            <h6 id="log-out"><a href="/crm/logout">Log Out</a></h6>
            <div id="mobile">
                <a href="/cart"><i class="far fa-shopping-bag"></i></a>
                <i id="bar" class="fas fa-outdent"></i>
                
            </div>
</section>


