<section id="header">
            <a href="/"><img src="images/img/logo.png" class="logo" alt=""></a>
            
            <ul id="navbar" >
                  <li><a class="active" href="/">Home</a></li>                    <li><a href="/shop">Shop</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
                <h6 id="signinsignup"><a href="/account">Account</a></h6>
                    
            </ul>
            
            <h6 id="signin-signup"><a href="/account">Account</a></h6>
            <div id="mobile">
                <a href="/cart"><i class="far fa-shopping-bag"></i></a>
                <i id="bar" class="fas fa-outdent"></i>
                
            </div>
</section>


