<section id="newsletter" class="section-p1 section-m1">
            <div class="newstext">
                <h4>Sign Up For The Newsletter</h4>
                <p>Get E-mail updates about our latest shop features and <span>special offers.</span></p>
            </div>
                <form class="form" id="newsletter-form" action="/newsletter" method="POST">
                    <input type="email" name="emailGet" placeholder="Your email address" required>
                    <button type="submit">Sign Up</button>
                </form>
        </section>